<!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Undertaking</h4>
        </div>
        <div class="modal-body">
          <p>1) Certified that the particulars are true to the best of my knowledge.
            <br> 
            2) I authorize EPFO to use Aadhar for a verification/authentication/eKYC purpose for service delivery.
            <br>
            3) Kindly transfer the funds and service details, if applicable, from the previous PF account as declared above to the present P.F. Account
            <br>
            (The transfer would be possible only if the identified KYC detail approved by previous employer has been verified by present employer <br>
            using this Digital Signature Cetificate)
            <br>
            4) In case of changes in above details, the same will be intimated to employer at the earliest.
          </p>
          <form onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to Undertaking of the Provident Fund Form 11'); return false; }">
            <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to Undertaking of PF Form 11.
            <span class="brmedium"></span>
            <button type="submit" name="submit" class="btn btn-success">ACCEPT</button>
          </form>
        </div>
    </div>
  </div>
</div> -->
<div class="main-container">
    <div class="compiler">
      <form (ngSubmit)="onSubmit()" #form11User="ngForm">
        <div style="text-align: center;">
          <h3>EMPLOYEES PROVIDENT FUND ORGANISATION</h3>
          <span style="display: block; margin-bottom: 1em; "></span>
          <h5>Employees Provident Fund Scheme, 1952(Paragraph 34 & 57)&</h5>
          <span style="display: block; margin-bottom: 1em; "></span>
          <h5>Employees Pension Scheme, 1995 (Paragraph 24)</h5>
          <hr>
        </div>
      </form>
    </div>
    <form  class="form-container" #form11="ngForm">
      <label for="name">Name</label>
      <input type="text" placeholder="Full Name" id="fullname">
      <!-- <div class="error-msg" *ngIf="name.touched && !name.valid">*Field is Required</div> -->
      <label for="fname">Father's/Husband's Name (In Block Letters)</label>
      <input type="text" placeholder="Father's/Husband's Name" name="fname" required>
      <!-- <div class="error-msg" *ngIf="fname.touched && !fname.valid">*Field is Required-</div> -->
      <label for = "gender">Gender</label>
            <br>
            <select id="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
            </select>
        <label for = "marital_status">Marital Status</label>
            <br>
            <select id="marital_status">
              <option value="married">Married</option>
              <option value="unmarried">Unmarried</option>
              <option value="Widow">Widow</option>
              <option value="widower">Widower</option>
              <option value="divorce">Divorcee</option>
            </select>
            <label for="email">Email ID</label>
            <input type="email" id="email" name="email" placeholder="Email ID">
            <label for="phone">Mobile Number</label>
            <input type="number" id="phone" name="phone" placeholder="Mobile Number" minlength="10">
            <!-- <div class="form-group"> -->
            <label for = "1952_Scheme">Whether earlier a member of Employee's Provident Fund Scheme, 1952</label>
            <!-- <select id = "1952_Scheme" [(ngModel)] = "schemeValue"> -->
             <select  id="1952_Scheme" name="scheme_1952" [(ngModel)]="schemeValue1"> 
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
            <!-- </div> -->
            <label for = "1955_Scheme">Whether earlier a member of Employee's Provident Fund Scheme, 1955</label>
            <br>
            <select name="scheme_1955" id = "1955_Scheme" [(ngModel)]="schemeValue2">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
            <div *ngIf="schemeValue1 ==='yes'" id="row9">
            <label for = "uan">Universal Account Number:</label>
            <input type="number" placeholder="Enter Number" id= "uan" name="uan">
            <label for = "previouspf">Previous PF Account Number:</label>
            <input type="number" placeholder="Enter Number" id= "pf_number" name="pf_number">
            <label for = "exitdate">Date of exit from previous employement:</label>
            <input type="number" placeholder="Enter Number" id= "exit_date_emp" name="exit_date_emp">
            <label for = "schemeno">Scheme Certificate No, (if issued):</label>
            <input type="number" placeholder="Enter Number" id= "scheme_certificate_no" name="scheme_certificate_no">
            <label for = "ppo">Pension Payment Order (PPO) No. (if issued):</label>
            <input type="number" placeholder="Enter Number" id= "ppo" name="ppo">
        </div>
        <div *ngIf="schemeValue2 ==='yes'" id="row9">
          <label for = "uan">Universal Account Number:</label>
          <input type="number" placeholder="Enter Number" id= "uan" name="uan">
          <label for = "previouspf">Previous PF Account Number:</label>
          <input type="number" placeholder="Enter Number" id= "pf_number" name="pf_number">
          <label for = "exitdate">Date of exit from previous employement:</label>
          <input type="number" placeholder="Enter Number" id= "exit_date_emp" name="exit_date_emp">
          <label for = "schemeno">Scheme Certificate No, (if issued):</label>
          <input type="number" placeholder="Enter Number" id= "scheme_certificate_no" name="scheme_certificate_no">
          <label for = "ppo">Pension Payment Order (PPO) No. (if issued):</label>
          <input type="number" placeholder="Enter Number" id= "ppo" name="ppo">
      </div>
        <label for = "iw">International Worker</label>
            <br>
            <select name="int_worker" id = "int_worker" [(ngModel)]="iwvalue">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
            <div id="row11" *ngIf="iwvalue ==='yes'">
                <label for = "country">If yes state country of origin(India/Name of other country):</label>
                <select id="country" name="country">
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote DIvoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="India" selected>India</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                    <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                <label for = "passport">Passport Number:</label>
                <input type="text" placeholder="Enter Number" id= "passport_no" name="passport_no">
                <label for = "passportvalidity">Validity of Passport [(MM/DD/YYYY) to (MM/DD/YYYY)]:</label>
                <div id="passportvalidity">
                    <label id="from">From</label>
                <input type="date" id= "from">
                <label id="to">To</label>
                <input type="date" id= "to">
            </div>
            </div>
            <span class="brmedium"></span>
            <!-- <span class="glyphicon glyphicon-info-sign"></span> -->
            <label><b>KYC Details:</b> (attach self attested copies of following KYCs)</label><a data-toggle="popover" title="I authorize EPFO to use Aadhar for a verification/authentication/eKYC purpose for service delivery." class="glyphicon glyphicon-info-sign"></a>
            <span class="brmedium"></span>
            <label for = "ifs_code">Bank Account No. & IFS Code:</label>
            <input type="text" id= "ifs_code" placeholder="Enter Bank Account No. and IFS Code:" name="ifs_code"><input type="file" id= "ifscode" name="ifscode">
            <label for = "aadharf">AADHAR Number:</label>
            <input type="text" id= "aadhar" placeholder="Enter AADHAR Number"><input type="file"  id= "aadhar">
            <label for = "pan">Permanant Account Number (PAN), if available :</label>
            <input id= "pan" placeholder="Enter PAN Card Number"><input type="file" id= "pan">
  
    
          </form>
  </div>

          <!-- Trigger the modal with a button -->

          <div class="save">
          <button type="button" class="btn btn-success" (click)="showModel-true" data-toggle="modal" data-target="#myModal">Save and Preview</button>
        </div>
   
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog" [ngClass]="{'show':showModel}">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><b>Important  Instructions</b></h4>
                </div>
                <div class="modal-body">
                  <p>1. Take a print of upcomming form with print button.<br> 
                     2. Do your physical signature on it.<br>
                     3. Upload it via upload button.<br>
                  </p>
                </div>
                <div class="modal-footer" >
                  <button type="button" routerLink="/pf-pdf" class="btn btn-default" data-dismiss="modal">Preview</button>
         
                </div>
              </div>
              
            </div>
          
  <!-- <a routerLink="/pf-pdf" type="submit" class="btn btn-success">Save and Preview</a> -->
  <!-- <a style="margin-left:700px" class="btn btn-success">Save and Preview</a> -->